.projectsContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
  padding: 3rem 0;
  width: 100%;
}

@media screen and ( min-width : 768px ) {

  .projectsContainer p {
    font-size: 1.1rem;
  }
}

.projectsContainer > p {
  text-align: center;
  width: 80%;
}

@keyframes buttonSize {

  0%, 100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }
}

.projects {
  align-items: stretch;
  border-radius: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  padding: 2rem;
  width: 80%;
}

.projectCard {
  background-color: var(--primary-color);
  border-radius: 2rem;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
  padding: 2rem;
  width: 500px;
}

@media screen and ( max-width : 478px ) {

  .projects {
    border-radius: 0;
    width: 100%;
  }

  .projectCard {
    padding: 1rem;
    width: 100%;
  }

}

.projectCard img {
  border-radius: 0.5rem;
  height: auto;
  width: 100%;
}

.projectCard h2 {
  color: var(--cyan);
  font-size: 1.5rem;
  text-align: center;
}

.projectCard h3 {
  color: var(--secondary-cyan);
  font-size: 1.2rem;
  text-align: center;
}

.projectCard h4 {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  text-align: start;
}

.projectCard p {
  margin-top: 1rem;
  text-align: start;
}

.projectCard .description {
  font-size: 1.2rem;
}

.tech {
  display: flex;
  gap: 2rem;
  justify-content: center;
  transition: all 0.4s ease-in-out;
}

.tech .techIcon {
  height: 40px;
  width: 40px;
}

.tech span {
  cursor: pointer;
  height: 40px;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  width: 40px;
}

.tech span:hover, .tech span:active {
  align-items: center;
  background-color: var(--secundary-color);
  border-radius: 0.8rem;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  height: 8rem;
  justify-content: center;
  width: 6rem;
}

.tech > span > p {
  text-align: center;
}

.projectLinks {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.4rem;
  gap: 1rem;
  justify-content: center;
}

.link {
  align-items: center;
  border: 0.125em solid var(--primary-color);
  border-radius: 0.5em;
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding: 0.4em 0.8em;
  text-align: center;
  touch-action: manipulation;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  will-change: transform;
}

.link:hover {
  background-color: var(--secundary-color);
  box-shadow: var(--shadow);
  color: var(--cyan);
  transform: translateY(-2px);
}

.link:hover svg {
  fill: var(--cyan);
}

.link:active {
  box-shadow: none;
  transform: translateY(0);
}
