.projectsContainer {
  align-items: center;
  background-color: var(--s-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
}

.projectsContainer > p {
  text-align: center;
  width: 80%;
}

.projects {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  padding: 2rem;
}

.projectCard {
  background-color: var(--primary-color);
  border: 1px solid var(--secundary-color);
  border-radius: 1rem;
  box-shadow: var(--shadow);
  max-width: 80%;
  min-width: 70%;
  padding: 2rem;
}

.projectCard img {
  border-radius: 0.5rem;
  height: auto;
  margin-bottom: 10px;
  width: 100%;
}

.projectCard h2 {
  color: var(--cyan);
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.projectCard p {
  margin-bottom: 10px;
}

.projectLinks {
  align-items: center;
  display: flex;
  font-size: 1.4rem;
  gap: 1rem;
  justify-content: center;
}

.projectLinks svg {
  font-size: 2rem;
}

.projectLinks a {
  border: 1px solid var(--secundary-color);
  border-radius: 0.5rem;
  box-shadow: var(--3d-shadow);
  color: var(--white);
  display: inline-block;
  padding: 0.3rem 0.8rem;
  text-decoration: none;
  transition: ease-in-out 150ms;
}

.projectLinks a:hover {
  background-color: var(--secundary-color);
  color: var(--cyan);
  transform: scale(1.1);
  transition: ease-in-out 150ms;
}

@media screen and ( min-width : 768px ) {

  .projectsContainer p {
    font-size: 1.4rem;
  }
}

@media screen and ( max-width : 400px ) {

  .projectCard {
    width: 220px;
  }

  .projectLinks svg {
    font-size: 1.5rem;
  }

  .projectLinks {
    font-size: 1rem;
  }

}
