.container {
  background-color: var(--secundary-color);
  box-shadow: var(--shadow);
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  user-select: none;
  z-index: 100;
}

.logo {
  height: auto;
  width: 2rem;
}
