.navbar {
  display: flex;
  justify-content: center;
}

.navContainer {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-weight: 600;
  gap: 0.4rem 2rem;
  justify-content: center;
}

.navLink {
  align-items: center;
  display: flex;
  height: 80%;
  opacity: 0.8;
  transition: all 0.6s ease-out;
}

.navLink:hover:not( .currentPage ) {
  color: var(--cyan);
  opacity: 1;
  transition: ease-in-out 150ms;
}

.navContainer a:hover:not( .currentPage ) {
  cursor: pointer;
  transform: scale(1.2);
}

.currentPage {
  border-bottom: 4px solid var(--cyan);
  color: var(--secondary-cyan);
  cursor: default;
  opacity: 1;
}
