.navbar {
  background-color: var(--secundary-color);
  box-shadow: var(--shadow);
  display: flex;
  justify-content: center;
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navContainer {
  align-items: center;
  display: flex;
  font-weight: 600;
  gap: 4rem;
  justify-content: center;
  width: 80%;
}

.navContainer p {
  list-style: none;
  list-style-type: none;
}

.navLink:hover {
  color: var(--cyan);
  transition: ease-in-out 150ms;
}

.navContainer p:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: ease-in-out 150ms;
}
