:root {

  --border: red solid 1px;

  --bg-color: hsl(0, 0%, 05%);

  --primary-color: hsl(0, 0%, 14%);

  --secundary-color: hsl(0, 0%, 20%);

  --white: hsl(0, 0%, 94%);

  --blue-color: hsl(231, 81%, 66%);

  --cyan: hsl(180, 100%, 70%);

  --secondary-cyan: hsl(191, 100%, 40%);

  --shadow: #0003 0 0.5rem 0.5rem 0.2rem;

  --link-color: #1eb720;

  --font: 'Varela Round' , sans-serif;
}

* {
  color: var(--white);
  font-family: var(--font);
  margin: 0;
  padding: 0;
  text-decoration: none;
}

label {
  font-family: var(--font);
}

input {
  font-family: var(--font);
}

button {
  font-family: var(--font);
}

body {
  background-color: var(--bg-color);
}

h2 {
  color: var(--secondary-cyan);
  font-size: 2rem;
}

b {
  color: var(--cyan);
}

strong {
  color: var(--link-color);
}

strong:hover {
  filter: brightness(1.4);
  transition: ease-in-out 600ms;
}

.App {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  width: 100%;
}
